<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Playwright API Suite"
       parallel="methods"
       thread-count="4">

    <test name="Playwright API Tests">
        <groups>
            <run>
                <include name="Sanity"/>
            </run>
        </groups>
        <classes>
            <class name="ApiTests"/>
        </classes>
    </test>
</suite>